
<div style="margin:5%;" >
	<div style="float:left;width:60%;" id="orderDetails">		
		<h3>Please Enter Details </h3>	
		<form>
		<label>First Name</label><input type="text" />
		<label>Last Name</label><input type="text" /><br />
		<p style="margin-top:5%";> Shipping Address</p>
		<label>Address</label><br>
		<input type="text" style="width:60%" ng-model="shippingAddress.line1" required />
		<input type="text" style="width:60%;margin-top:10px;" ng-model="shippingAddress.line2"/><br>
		<label style="margin-top:10px;margin-right:14px">City</label><input ng-model="shippingAddress.city" type="text" /><br>
		<label style="margin-top:10px;">State</label>
		<select style="padding:4px;" ng-model="shippingAddress.state" >
			<option ng-repeat="state in states" value={{state}}>{{state}}</option>
		</select>
		<label style="margin-top:10px;">Zip</label><input only-digits  ng-model="shippingAddress.zip" type="text">
		
		
		<p style="margin-top:5%";> Billing Address</p>
		<input type="checkbox" ng-model="sameShippingBillingAddress">Same as Shipping Address <br />
		<label>Address</label><br>
		<input type="text" style="width:60%" required ng-model="billingAddress.line1" />
		<input type="text" style="width:60%;margin-top:10px;" ng-model="billingAddress.line2" /><br>
		<label style="margin-top:10px;margin-right:14px">City</label><input ng-model="billingAddress.city" type="text" /><br>
		<label style="margin-top:10px;">State</label>
		<select style="padding:4px;" ng-model="billingAddress.state">
			<option ng-repeat="state in states" value={{state}}>{{state}}</option>
		</select>
		<label style="margin-top:10px;" >Zip</label><input only-digits  ng-model="billingAddress.zip" type="text">
		<br>
		<button class="btn btn-primary" ng-click="makePayment();">Continue</button>
		
		</form>		
	</div>

	<div style="float:right:width:30%;" id="cartSummar">
		<h3>Mini Cart </h3>	
		<table class="table table-striped table-bordered" style="max-width:30%;">
			<tr>
				<th style="text-align:center;">Title Name</th>
				<th style="text-align:center;">Quantity</th>
				<th style="text-align:center;">Price</th>
				
			</tr>
			<tr ng-repeat="item in cartTotalItems">
				<td style="text-align:center;">{{item.productname}}</td>
				<td style="text-align:center;">{{item.quantity}}</td>
				<td style="text-align:center;">{{item.price | currency}}</td>
			</tr>
		</table>
		
		<h3>Summary of Charges </h3>
		<table class="table table-striped table-bordered" style="max-width:30%;">
			<tr>
				<th style="text-align:center;">Sub Total </th>
				<td style="text-align:center;">{{currentTotal | currency}} </td>
			</tr>
			<tr>
				<th style="text-align:center;">Tax </th>
				<td style="text-align:center;">{{tax | currency}} </td>
			</tr>
			<tr>
				<th style="text-align:center;">Total </th>
				<td style="text-align:center;">{{totalAmount | currency}} </td>
			</tr>
		</table>	
	</div>
</div>	