

<div style="width:60%;margin:2% 20%;">

	<!-- Button Definition -->
	<ul class="nav nav-pills" style="margin-bottom:2%">
		<li><a popover={{loginPopOverMessage}} popover-trigger="mouseenter" popover-placement="left" class="btn btn-primary" ng-click="userLogin()">{{loginButton}}</a></li>
		<li><a popover="View Products" popover-trigger="mouseenter" popover-placement="right" class="btn btn-primary" href="#/viewproduct">Products</a></li> 
	</ul>
	
	<!-- Login  Definition -->
	<div ng-show="userNeedsLogin">
		<div ng-controller="myStoreLoginCtrl" style="position:absolute;z-index:10;opacity:0.7;">
			<form>
				<input type="text" placeholder="Enter Your User Name" ng-model="userName" required> <br>
				<input type="password" placeholder="Enter Your Password" ng-model="pass" required><br><br>
				<button type="submit" ng-click="validateUser()">Login</button>
			</form>
		</div>
	</div>	
	
	<!-- Carousel Definition -->
    <div style="height:305px;">
		<carousel interval="myInterval">
			<slide ng-repeat="slide in slides" active="slide.active">
				<img  ng-click="openProductMain($index)" ng-src="{{slide.image}}" style="margin:auto;height:500px;width:100%;">
				<div class="carousel-caption">
					<p><button class="btn btn-success" ng-click="openProductMain($index)">View this Toy</button></p>
				</div>
			</slide>
		</carousel>
	</div> 
  
 </div> 